@use '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #212121;
}


.row {
    color: white;
}


.imgSos {
    height: 12px;
}

.imgMovies {
    max-width: 100%;
}
.imgMovies:hover {
    
}

.imgMovies img {
    width: 100%;
}
.imgShow {
    max-width: 100%;
}
.imgShow img {
    width: 100%;
}


.imgLogo img{
    width: 100px;
}

svg {
    fill: yellow;
    height: 10px;
    width: 10px;
}

header {
    background-color: black;

    box-shadow: 0px 6px 7px red;
}