@use '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #212121;
}


.row {
    color: white;
}


.imgSos {
    height: 12px;
}

.imgMovies {
    max-width: 100%;
}
.col:hover .info {
    display: block;
    overflow-y: scroll;
    height: 90%;  
    background-color: rgba(0, 0, 0, 0.462);
}

.imgMovies img {
    width: 100%;
    border-radius: 4%;
}
.imgShow {
    max-width: 100%;
}
.imgShow img {
    width: 100%;
    border-radius: 4%;
}


.imgLogo img{
    width: 100px;
}

svg {
    fill: yellow;
    height: 10px;
    width: 10px;
}

header {
    background-color: black;

    box-shadow: 0px 6px 7px red;
}
.col {
    position: relative;    
}

.info {
    display: none;
    position: absolute;
    top: 32px;
    left: -11px;
     
}

.overview {
    display:none;
}

.imgMovies:hover {
    display: block;
}

li {
    list-style: none;
}


footer {

li a {
    list-style: none;
    color: gray;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: white;
    
}

button {
    background-color: #212121;
    color: gray;
    border: 1px solid gray;
}
button:hover {
    color: white;
}

.itemFtw {
    display: flex;
    gap: 8px;
    margin-left: 35px;
}
.itemFtw a {

}

}
